.nav-tabs a {
  color:grey;
}

.nav-tabs a:hover {
  color:black;
}

.nav-tabs a.active {
  color:black;
  font-weight:bold
}

.group-0 {
  display:none;
}

.group-col {
  font-weight:bold;
  font-size:1.2em;
  text-align:left;
  font-style:italic;
  border-top:0;
  border-bottom: 2px solid lightgreen;
}

#materials .td-1 {
  max-width:20em;
  width:20em
}

#production .td-1 {
  max-width:25em;
  width:25em
}

#configTab .td-1 {
  max-width:25em;
  width:25em
}

#users .td-1 {
  max-width:15em;
  width:15em
}

#toSale .td-1 {
  max-width:35em;
  width:35em
}

#order .td-1 {
  max-width:10em;
  width:10em
}

#currentSale .td-1 {
  max-width:10em;
  width:10em
}

#lots .td-1 {
  max-width:10em;
  width:10em
}

#tasks .td-1 {
  max-width:50em;
  width:50em
}
#monthlyHours .td-1 {
  max-width:2em;
  width:2em
}

#cashSwitch label input[type=checkbox]:checked+.lever {
  background-color: navajowhite;
}

#cashSwitch label input[type=checkbox]:checked+.lever:after {
  background-color: orange ;
}

#treeNameValidate {
  margin-right:10px;
  padding : 5px 7px 5px 7px;
  border-radius:14px;
  transition: background 0.2s;
}

#treeNameValidate {
  display:none;
}

#treeNameValidate:hover {
  background: lightgray;
}

.treeview a{
  user-select: none; /* standard syntax */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.to-produce {
  color:green;
}

.table-stock td{
  border:0;
  padding:0;
}

#tasks td {
  padding-top:5px;
  padding-bottom:5px;
}

.timesheet-dv {
  font-weight:bold; 
  font-size:1.3em;
}

#calendar th {
  width:4em;
  border-top:1px solid lightgray;
}

#calendar td {
  padding-right:1.3em;
  text-align:center;
}

#calendar .leave-common {
  color:red;
}

#calendar .leave-user {
  color:orange;
}

#calendar .icon-action {
  width:3em;
  margin-right: 0;
}

#calendar .month {
  font-size:1.3em;
  font-weight:bold;
  padding-top:1em;
  border-top:0;
}

#calendar .no-action {
  padding : 2px 2px 2px 2px;
}
